* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; 
}
body {
  background: #cfd8dc;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: white;
  flex-wrap: wrap;
  flex-flow: column;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  flex: 0 0 100px;
}

.one {
  background: red;
}

.two {
  background: blue;
}

.three {
  background: green;
}