.heading {
  border: 1px solid burlywood;
  background-color: khaki;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 30px;
}
.forms {
  text-align: center;
}

.namebox {
  border: 1px solid black;
  background-color: lightgrey;
}

.gender {
  border: 1px solid black;
  margin-left: 514px;
  margin-right: 690px;
  text-align: justify;
  background-color: lightgrey;
}

.genderbutton {
  border: 1px solid black;
  margin-left: 648px;
  margin-right: 523px;
  position: relative;
  bottom: 37px;
}

.agebox {
  border: 1px solid black;
  margin-left: 384px;
  margin-right: 560px;
  position: relative;
  bottom: 18px;
  background-color: lightgrey;
}
.agebox1 {
  margin-left: 460px;
  margin-right: 322px;
  position: relative;
  bottom: 38px;
}

.websitebox {
  border: 1px solid black;
  margin-left: 514px;
  margin-right: 689px;
  text-align: justify;
  position: relative;
  bottom: 38px;
  background-color: lightgrey;
}

.websitebox1 {
  margin-left: 640px;
  margin-right: 500px;
  position: relative;
  bottom: 58px;

}

.qualificationbox {
  border: 1px solid black;
  margin-left: 513px;
  margin-right: 688px;
  position: relative;
  bottom: 76px;
  background-color: lightgrey;
}

.qualificationselector {
  margin-left: 650px;
  margin-right: 655px;
  position: relative;
  bottom: 96px;
}

.email {
  border: 1px solid black;
  margin-left: 514px;
  margin-right: 688px;
  position: relative;
  bottom: 95px;
  text-align: justify;
  background-color: lightgrey;
}
.emailbox {
  margin-left: 650px;
  margin-right: 698px;
  position: relative;
  bottom: 115px;
}

.addressbox {
  border: 1px solid black;
  margin-left: 513px;
  margin-right: 687px;
  text-align: justify;
  position: relative;
  bottom: 115px;
  background-color: lightgrey;
}

.textarea {
  margin-left: 651px;
  margin-right: 600px;
  position: relative;
  bottom: 135px;
}

.submitbtn {
  background-color: rgb(23, 163, 23);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 44%;
}

.box1 {
  display: inline-block;
  text-align: justify;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  margin-left: 45px;
  background-color: rgb(238, 240, 118);
}

.box2 {
  display: inline-block;
  text-align: justify;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  margin-left: 45px;
  position: relative;
  bottom: 37px;
  height: 195px;
  background-color: lightgrey;
}

.box3 {
  display: inline-block;
  text-align: justify;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 45px;
  position: relative;
  bottom: 23px;
  height: 215px;
  background-color: rgb(238, 229, 101);
}

.red {
  border: 1px solid red;
  list-style-type: circle;
  width: 100px;
  text-align: center;
  background-color: rgb(221, 58, 29);
}
.green {
  border: 1px solid green;
  list-style-type: circle;
  width: 100px;
  text-align: center;
  background-color: rgb(24, 158, 19);
}
.blue {
  border: 1px solid blue;
  list-style-type: circle;
  width: 100px;
  text-align: center;
  background-color: rgb(16, 7, 151);
}

.primarycolor {
  border: 1px solid black;
  margin-left: 38px;
  padding: 5px;
}

.mainbody {
  background-color: rgb(200, 243, 223);
}
